extends ../layout/main

block head 
  - var title = 'Главная'
  - var bodyClass = ''
block content  
  //- +menuClick()
  //- +menuHover()
  //- - formTitle = 'Form Title'
  //- +form_default('formClass', 'formId')
